@model IEnumerable<CorePractise01.Contracts.DTO.FeedDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSizeInMl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalConsumedInMl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfFeed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSizeInMl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalConsumedInMl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfFeed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
